node_modules/
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
www/
firebase-config.js
android/app/google-services.json
functions/.env*
service-account*.json
